<section ngClass="references">
    <h1>Acknowledgements</h1>
    <br />
    <section ngClass="ref-list">
        <details ngClass="ref-card">
            <summary>The Framework</summary>
            <br/>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero adipisci totam consequatur libero pariatur ipsam. Unde, adipisci? Sequi tenetur harum veritatis provident corporis odit inventore hic voluptas, esse vel. Quia.</p>
                <br />
                <a ngClass="button-label" href="https://angular.io/">Angular.IO &#8599;</a>
            </article>
        </details>
        <details ngClass="ref-card">
            <summary>The Website Hosting</summary>
            <br/>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur dolor aliquid sequi, tempora maxime nam? Dolorum magni eveniet illum doloremque impedit facere sint animi. Ullam quod earum quo sapiente!</p>
                <br />
                <a ngClass="button-label" href="https://vercel.com/">Vercel &#8599;</a>
            </article>
        </details>
        <details ngClass="ref-card">
            <summary>The Colour Palette</summary>
            <br />
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius mollitia dicta eaque, sequi vel consequatur neque ex ipsum facere. Fugiat iure cum dolores numquam corrupti, aliquam voluptatem quae eveniet quidem.</p>
                <br />
                <a ngClass="button-label" href="https://tailwindcss.com/docs/customizing-colors">Tailwind CSS &#8599;</a>
            </article>
        </details>
        <details ngClass="ref-card">
            <summary>The Fonts</summary>
            <br />
            <article>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus excepturi in a ab sed officiis sint, odit odio sit eligendi? Quia commodi porro eaque accusamus illo aspernatur perferendis soluta libero.</p>
                <br />
                <a ngClass="button-label" href="https://vercel.com/font">Giest Font Family &#8599;</a>
            </article>
        </details>
    </section>
</section>
