.link-label {
    color: var(--gbl-foreground);
}

.button-label {
    color: var(--gbl-foreground);
    padding: 0.25rem 0.4rem;
    text-decoration: none;
    border-radius: 5px;
    text-decoration-line: underline;
    text-decoration-color: var(--gbl-foreground);
}

.button-label:hover {
    background-color: var(--ccd-border);
}
