/* Provides the theming for the site.
 *
 * Abbreviations:
 *     gbl = global
 */

@media (prefers-color-scheme: light) {
    :root {
        --gbl-background: var(--clr-slate-050);
        --gbl-foreground: var(--clr-slate-950);

        --nav-background: var(--clr-slate-050);
        --nav-foreground: var(--clr-slate-950);
        --nav-border: var(--clr-slate-200);
        --nav-accent: var(--clr-teal-700);

        --ccd-background: var(--clr-slate-100);
        --ccd-border: var(--clr-slate-200);
        --ccd-foreground: var(--clr-slate-950);

        --ctl-lnk-border: var(--clr-teal-600);
        --ctl-lnk-foreground: var(--clr-slate-700);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --gbl-background: var(--clr-slate-950);
        --gbl-foreground: var(--clr-slate-050);

        --nav-background: var(--clr-slate-950);
        --nav-foreground: var(--clr-slate-050);
        --nav-border: var(--clr-slate-700);
        --nav-accent: var(--clr-teal-300);

        --ccd-background: var(--clr-slate-900);
        --ccd-border: var(--clr-slate-800);
        --ccd-foreground: var(--clr-slate-050);

        --ctl-lnk-border: var(--clr-teal-600);
        --ctlh-lnk-border: var(--clr-teal-300);
        --ctlh-lnk-foreground: var(--clr-teal-300);
    }
}

body {
    background-color: var(--gbl-background);
    color: var(--gbl-foreground);
}
