/* Provides the theming for the site.
 *
 * Abbreviations:
 *     gbl = global
 */

@media (prefers-color-scheme: light) {
    :root {
        --gbl-background: var(--clr-slate-050);
        --gbl-foreground: var(--clr-slate-950);

        --ccd-background: var(--clr-slate-100);
        --ccd-border: var(--clr-slate-200);
        --ccd-foreground: var(--clr-slate-950);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --gbl-background: var(--clr-slate-950);
        --gbl-foreground: var(--clr-slate-050);

        --ccd-background: var(--clr-slate-900);
        --ccd-border: var(--clr-slate-800);
        --ccd-foreground: var(--clr-slate-050);
    }
}

body {
    background-color: var(--gbl-background);
    color: var(--gbl-foreground);
}
