@media (prefers-color-scheme: light) {

    :root {
        --gbl-background: var(--clr-slate-050);
        --gbl-foreground: var(--clr-slate-950);

        --slt-background: var(--clr-teal-100);
        --slt-foreground: var(--clr-teal-950);

        --cdl-background: var(--clr-slate-200);
        --cdlh-background: var(--clr-slate-300);
    }

}


@media (prefers-color-scheme: dark) {

    :root {
        --gbl-background: var(--clr-slate-950);
        --gbl-foreground: var(--clr-slate-050);

        --slt-background: var(--clr-teal-900);
        --slt-foreground: var(--clr-teal-050);

        --cdl-background: var(--clr-slate-800);
        --cdlh-background: var(--clr-slate-700);
    }

}

body {
    background-color: var(--gbl-background);
    color: var(--gbl-foreground);
}

::selection {
    background-color: var(--slt-background);
    color: var(--slt-foreground);
}
