@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url('./inter/inter-roman.ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    src: url('./inter/inter-italic.ttf');
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    src: url('./cabin/cabin-roman.ttf');
}

@font-face {
    font-family: 'Cabin';
    font-style: italic;
    src: url('./cabin/cabin-italiic.ttf');
}
