<section ngClass="portfolio-page">
    <h1>Portfolio</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla tenetur assumenda
        exercitationem eos sunt rerum, necessitatibus, modi, dolore consequatur similique
        ex ab soluta quo explicabo officia numquam nisi cum amet?</p>
    <br />
    <section ngClass="topic-list">
        <article ngClass="topic-card">
            <h2>Fine Art Portfolio</h2>
            <br />
            <p>I like to create art, exploring themes and forms of media. My main theme
                involves the exploration of symmetry within nature.</p>
            <br />
            <p>Tools: Pen & Paper, GIMP, Inkscape</p>
            <br />
            <a routerLink="/portfolio/fine-art">View &#8594;</a>
        </article>
        <article ngClass="topic-card">
            <h2>Computer Science Portfolio</h2>
            <br />
            <p>I like programming and bringing things to life.</p>
            <br />
            <p>Languages: HTML, CSS, TypeScript, C, Python, Java, VB .NET</p>
            <p>Frameworks: Angular, .NET</p>
            <p>Tools: Git, Github, PowerShell, Vercel</p>
            <br />
            <a routerLink="/portfolio/computer-science">View &#8594;</a>
        </article>
    </section>
</section>
