.hero {
    height: 100vh;
    display: grid;
    place-items: center left;
    padding: 3rem;
}

.hero .intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero .intro .title * {
    display: block;
    font-size: 2rem;
}

.hero .intro .title .skill {
    font-weight: 700;
}

.hero .intro .title .what {
    font-weight: 400;
}

.hero .intro .about {
    width: 35ch;
}

.hero .intro .direction-arrow {
    margin-top: 2rem;
    background-color: var(--ccd-border);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    max-width: max-content;
}


