<section ngClass="hero">
    <article ngClass="main-text | font-cabin">
        <span ngClass="interest">Programming & Design</span>
        <h1 ngClass="title">That brings it all together.</h1>
    </article>
    <article ngClass="about-me">
        <p>Hello.</p>
        <p>My name is Harsh Jayprakash.</p>
    </article>
    <a ngClass="card-link">Part programmer</a>
    <a ngClass="card-link">Part artist</a>
    <article ngClass="start">
        <span>Start a project</span>
    </article>
</section>
