<section ngClass="past-projects">
    <h2>Recent Projects</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut unde cupiditate
        libero, aperiam pariatur quas autem labore voluptatum excepturi consequuntur!</p>
    <div ngClass="project-list">
        <article>
            <h3>Cd</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iusto.</p>
            <a>View Details</a>
        </article>
        <article>
            <h3>Cd</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iusto.</p>
            <a>View Details</a>
        </article>
        <article>
            <h3>Cd</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iusto.</p>
            <a>View Details</a>
        </article>
    </div>
</section>
