<section ngClass="past-projects">
    <h2>Recent Projects</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut unde cupiditate
        libero, aperiam pariatur quas autem labore voluptatum excepturi consequuntur!</p>
    <br/>
    <section ngClass="project-list">
        <article ngClass="project-card">
            <h3 ngClass="codename | font-fixel">Portfolio Site</h3>
            <p ngClass="description">A personal website that aids in showcasing projects and skills.</p>
            <span ngClass="spacer"></span>
            <a ngClass="link-label">View Details &#8594;</a>
        </article>
        <article ngClass="project-card">
            <h3 ngClass="codename | font-fixel">The Experimental Block Project</h3>
            <p ngClass="description">An exploration of the Windows API and the principles of lower level
               development.</p>
            <span ngClass="spacer"></span>
            <a ngClass="link-label">View Details &#8594;</a>
        </article>
        <article ngClass="project-card | default-style">
            <h3 ngClass="codename | font-fixel">View More</h3>
            <p ngClass="description">Explore more of my projects.</p>
            <span ngClass="spacer"></span>
            <a ngClass="link-label">See More &#8594;</a>
        </article>
    </section>
</section>
