.past-projects {
    padding: 3rem;
}

.project-list {
    display: grid;
    gap: 1rem;
}

.project-list .project-card {
    background-color: var(--ccd-background);
    color: var(--ccd-foreground);
    border: 1px solid var(--ccd-border);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.project-list .default-style {
    background-color: var(--gbl-background);
    color: var(--gbl-foreground);
    border: unset;
}

.project-list .project-card .description {
    margin: 0.5rem 0;

}

.project-list .project-card .spacer {
    flex-grow: 1;
}

@media (min-width: 800px) {
    .project-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
