.skills {
    padding: 3rem;
}

.skills .skill-list {
    display: grid;
    gap: 1rem;
}

.skills .skill-card {
    background-color: var(--ccd-background);
    color: var(--ccd-foreground);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--ccd-border);
}

.skills .skill-card .subtitle {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.skills .skill-card .description {
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.skills .skill-card > span {
    display: block;
    font-weight: 300;
}

@media (min-width: 800px) {
    .skills .skill-list {
        grid-template-columns: 1fr 1fr;
    }
}
