<footer ngClass="footer">
    <p ngClass="under-construction">Under Construction ...</p>
    <p ngClass="copyright">
        Handcrafted with Angular, Hosted by Vercel &copy; {{ copyrightYear }}
        Harsh Jayprakash. <br />
        Looking for any policies? Please visit the values page.
    </p>
    <hr ngClass="divider" />
    <a ngClass="button-label" routerLink="/sitemap">Sitemap</a> &#9702;
    <a ngClass="button-label" routerLink="/references">Acknowledgements</a> &#9702;
    <a ngClass="button-label" routerLink="/values">Values</a>
</footer>
